div + p{
    color: green;
}

.yellow{
    color: yellow;
}



.nemezki{
    color: blue;
}
.matemateka{
    color: brown;
}
.fizra{
    color: gold;
}

.angliski{
    color: cadetblue;
}

.risovanie{
    color: coral;
}
.risovanie:hover{
    color:rgb(36, 36, 90);
}
.biologi{
    color: aqua;
    
}
.biologi:hover{
    color:blue;
}

