.pink{
    color: pink;
}
.red{
    color: red;
}
.gray{
    color: gray;
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}
.nemezki{
    color: blue;
}
.matemateka{
    color: brown;
}
.fizra{
    color: gold;
}

.angliski{
    color: cadetblue;
}

.risovanie{
    color: coral;
}
.biologi{
    color: aqua;
}

